@{
	ViewData["Title"] = "About Us";
}

<main>

	<!-- bg shape area start -->
	<div class="bg-shape">
		<img src="~/assets/frontend/img/shape/shape-1.png" alt="">
	</div>
	<!-- bg shape area end -->
	<!-- about area start -->
	<section class="about__area pt-100">
		<div class="container">
			<div class="row">
				<div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1">
					<div class="about__wrapper">
						<span class="about__sub-title">About Markit</span>
						<h3 class="about__title">We're enabling <br> Everyone to create for the website.</h3>
						<div class="about__thumb w-img wow fadeInUp" data-wow-delay=".3s">
							<img src="~/assets/frontend/img/about/about-1.jpg" alt="">
						</div>
						<div class="about__count pt-50 pb-15 wow fadeInUp" data-wow-delay=".5s">
							<div class="row">
								<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
									<div class="about__count-item text-center launche mb-30">
										<p>LAUNCHED IN</p>
										<h4><span class="counter">2009</span></h4>
									</div>
								</div>
								<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
									<div class="about__count-item text-center community mb-30">
										<p>COMMUNITY OF</p>
										<h4><span class="counter">13,000</span>+</h4>
									</div>
								</div>
								<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
									<div class="about__count-item text-center mission mb-30">
										<p>MISSION PROGRESS</p>
										<h4><span class="counter">4.9</span>%</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="about__content">
							<p class="about__text">Tomfoolery nice one have it cup of tea wind up bugger on your bike mate cobblers Queen's English, it's all gone to pot mush a load of old tosh off his nut I don't want no agro up the duff. Blower excuse my French William squiffy bender young delinquent the little rotter pardon me bubble and squeak baking cakes don't get shirty with me!</p>
							<p class="about__sub-text">With their varied backgrounds, our engineers collaborate with the other roles at Automattic to define, implement, and improve the experience those engines provide and enable.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- about area end -->
	<!-- brand area start -->
	<div class="brand__area pb-65 pt-80">
		<div class="container">
			<div class="row">
				<div class="col-xxl-12">
					<div class="brand__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
						<div class="brand__thumb">
							<img src="~/assets/frontend/img/brand/brand-1.png" alt="">
						</div>
						<div class="brand__thumb">
							<img src="~/assets/frontend/img/brand/brand-2.png" alt="">
						</div>
						<div class="brand__thumb">
							<img src="~/assets/frontend/img/brand/brand-3.png" alt="">
						</div>
						<div class="brand__thumb">
							<img src="~/assets/frontend/img/brand/brand-4.png" alt="">
						</div>
						<div class="brand__thumb">
							<img src="~/assets/frontend/img/brand/brand-5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- brand area end -->
	<!-- testimonial area start -->
	<div class="testimonial__area pb-110 fix">
		<div class="container">
			<div class="testimonial__inner p-relative pb-110">
				<div class="testimonial__bg p-absolute">
					<img src="~/assets/frontend/img/bg/testimonial-bg.png" alt="">
				</div>
				<div class="row">
					<div class="col-xxl-12">
						<div class="testimonial__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-1.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Justin Case</h5>
										<span>@Html.Raw("@justin")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic arse.!</p>
								</div>
							</div>
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-2.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Gunther Beard</h5>
										<span>@Html.Raw("@beard")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
								</div>
							</div>
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-3.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Joss Sticks</h5>
										<span>@Html.Raw("@sticks")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic  arse.!</p>
								</div>
							</div>
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-4.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Samuel Serif</h5>
										<span>@Html.Raw("@justin")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
								</div>
							</div>
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-2.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Shahnewaz Sakil</h5>
										<span>@Html.Raw("@Shahnewaz")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
								</div>
							</div>
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-3.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Joss Sticks</h5>
										<span>@Html.Raw("@sticks")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic  arse.!</p>
								</div>
							</div>
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-2.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Gunther Beard</h5>
										<span>@Html.Raw("@beard")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
								</div>
							</div>
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-4.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Samuel Serif</h5>
										<span>@Html.Raw("@justin")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
								</div>
							</div>
							<div class="testimonial__item white-bg">
								<div class="testimonial__person d-flex mb-20">
									<div class="testimonial__avater">
										<img src="~/assets/frontend/img/testimonial/testi-1.jpg" alt="">
									</div>
									<div class="testimonial__info ml-15">
										<h5>Samuel Serif</h5>
										<span>@Html.Raw("@justin")</span>
									</div>
								</div>
								<div class="testimonial__text">
									<p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- testimonial area end -->
</main>